.bodyOfCalc {
    background-color: #0f2763;
    position: absolute;
    width: 75%;
    max-width: 500px;
    /* height: ; */
    border-radius: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    -webkit-box-shadow: 0px 0px 35px 35px rgba(60, 46, 255, 0.54);
    -moz-box-shadow: 0px 0px 35px 35px rgba(60, 46, 255, 0.54);
    box-shadow: 0px 0px 35px 35px rgba(60, 46, 255, 0.54);
    /* margin: 75px auto; */
    overflow: hidden;
}

@media (max-width: 400px) and (min-width: 500px) {
    .bodyOfCalc {
        height: 100vh;
    }
}

.headOfCalc {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

.headOfCalc::after {
    content: "";
    background-color: white;
    display: block;
    width: 50px;
    height: 3px;
    position: absolute;
    top: 60px;
    border-radius: 6px;
    transition: 0.3s;
}

.headOfCalc:hover::after {
    width: 190px;
}

.divOfCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns with equal width */
    grid-gap: 10px;
    margin-left: 20px;
}

.divOfCards > .card {
    background-color: rgb(178, 22, 22);
    width: 80%;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(217, 202, 202);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow:
        #c0392b 0px 7px 2px,
        #000 0px 8px 5px;
    position: relative;
}
.divOfCards > .card:hover {
    opacity: 1;
}

.divOfCards > .card:active {
    top: 4px;
    box-shadow:
        #c0392b 0px 3px 2px,
        #000 0px 3px 5px;
}

.screenOfCalc {
    position: relative;
    width: 90%;
    height: 90px;
    background-color: rgb(129 178 188);
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
}

.screenOfCalc > p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.lastOfCards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    color: white;
}

.lastOfCards .card {
    background-color: rgb(60, 106, 139);
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(217, 202, 202);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 22px;
    transition: 0.2s;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow:
        rgb(106, 149, 179) 0px 7px 2px,
        #000 0px 8px 5px;
    position: relative;
}

.lastOfCards .card:hover {
    opacity: 1;
}

.lastOfCards .card:active {
    top: 4px;
    box-shadow:
        rgb(106, 149, 179) 0px 3px 2px,
        #000 0px 3px 5px;
}

.equal .card {
    background-color: #b69511;
    width: 80%;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(217, 202, 202);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow:
        #bcab68 0px 7px 2px,
        #000 0px 8px 5px;
    position: relative;
}
.equal .card:hover {
    opacity: 1;
}

.equal .card:active {
    top: 4px;
    box-shadow:
        #bcab68 0px 3px 2px,
        #000 0px 3px 5px;
}

.footer {
    width: 100%;
    height: 25px;
    background-color: #0f2763;
    color: white;
    position: absolute;
    text-align: center;
    /* font-size: 17px; */
    font-weight: bold;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.footer a { 
    text-decoration: none;
    color:aqua
}